<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='forecast.css') }}">
    <title>Weather Forecast</title>
</head>
<body>
    <header>
        <div class="header-content">
            <h2>Welcome, {{ session['user'] if 'user' in session else '' }}</h2>
            <a href="{{ url_for('home_page') }}"><button class="logout-btn">Home</button></a>
            <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="logout-btn">Logout</button>
            </form>
           
        </div>
    </header>
   
    {% block content %}
    <section class="main">
        <div class="left">
            <div class="info">
                <p id="city">{{ city }}</p>
                <p id="time">{{ time }}</p>
            </div>
            <div class="icon">
                <div class="column">
                    <img src="{{ icon }}" id="icon" alt="weather icon">
                </div>
                <div class="column">
                    <p id="temp">{{ temperature }} C°</p>
                </div>
            </div>
            <div class="desc">
                <p id="desc">{{ description }}</p>
            </div>
            <div class="detailed">
                <div class="column2">
                    <p id="subtitle">Humidity</p>
                    <p id="humidity">{{ humidity }} %</p>
                </div>
                <div class="column2">
                    <p id="subtitle">Wind Speed</p>
                    <p id="wind">{{ wind }} Km/h</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="plot-container">
                
                <img src="{{ url_for('static', filename='current_plot.png') }}" alt="Temperature Plot" id="forecast-plot">
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>
