<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>{{title}}</title>
<body>
    {% block content %}
    <section class="main">
        <div class="title">
            <h1>Please enter your credentials</h1>
        </div>
        <form action="" method="POST">
            <div class="input">
                <input type="text" class="field" name="username" placeholder="Username" required>
                <label for="Username" class="form_label">Username</label>
            </div>
            <div class="input">
                <input type="password" class="field" name="password" placeholder="Password" required>
                <label for="Password" class="form_label">Password</label>
            </div>
            {% if error %}
            <div class="error">
                <p class="error">{{ error }}</p>
            </div>
            {% endif %}
            <div class="button">
                <button>Sign in</button>
            </div> 
            <div class="button">
                <button><a href="/SignUp">Sign up</a></button>
            </div> 
        </form>
    </section>
    {% endblock %}
</body>
</html>